@charset "UTF-8";

@media screen and (max-width: 723px) {
    main {
        height: calc(100% - 174px);
        margin-top: 15px;
        margin-bottom: 5px;
    }

    div#img {
        height: 80px;
    }

    img {
        width: 200px;
    }

    div#search-container {
        margin: auto;
    }

    div#search-bar {
        width: 350px;
    }

    input#search {
        width: 245px;
    }

    footer {
        display: block;
    }

    footer > div {
        text-align: center;
        padding: 15px 20px;
    }

    footer > div > ul > li {
        display: inline-block;
        margin-right: 10px;
    }
}