@charset "UTF-8";

@media screen and (max-width: 723px) {
    main {
        padding-top: 200px;
    }

    div#search-bar {
        width: 350px;
    }

    input#search {
        width: 245px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: none;
    }

    footer > div > ul > li {
        display: inline-block;
    }
}