@charset "UTF-8";

@media screen and (max-width: 723px) {
    main {
        padding-top: 50px;
        margin-bottom: 40px;
    }

    img {
        width: 50px;
    }

    div#search-container {
        margin: auto;
    }

    div#search-bar {
        width: 350px;
    }

    input#search {
        width: 245px;
    }

    footer {
        display: block;
    }

    footer > div {
        text-align: center;
        padding: 15px 20px;
    }

    footer > div > ul > li {
        display: inline-block;
        margin-right: 10px;
    }
}

@media screen and (orientation: landscape) and (pointer: coarse) and (hover: none){
    footer {
        margin-top: 20px;
    }
}